@charset "utf-8";
body {
	font-family:arial;
}

#mainForm {
	margin-left:auto;
	margin-right:auto;
	padding:15px;
	width:600px;
	border:2px solid black;
}


.clear {
	clear:both;
}

.form-item label {
    display:inline-block; 
    width:180px;
}

.form-item .inputs {
    display:inline-block;    
}
.form-item .inputs .name {
    width:300px;  
    display:inline-block;
    margin-right:20px;
}

.form-item .inputs .number {
    width:50px;
    margin-left:-10px;
}
.form-item .inputs .hash {  
    margin-left: -15px;
    padding-right: 20px;
    background-color: white;
}
input  {
margin: 5px;
border: 1px solid #999;
height: 25px;
}

#ailogo {
margin-bottom:15px;
height:130px;
background-image:url(../ailogo.png);
background-color:black;
background-repeat:no-repeat;
background-position:center;
}

#resetBTN {
	margin-left:auto;
	margin-right:auto;
	width:400px;
}
	
#submitBTN {
	margin-left:auto;
	margin-right:auto;
	width:400px;
	-moz-box-shadow:inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f5978e;
	box-shadow:inset 0px 1px 0px 0px #f5978e;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f) );
	background:-moz-linear-gradient( center top, #f24537 5%, #c62d1f 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f');
	background-color:#f24537;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #d02718;
	display:inline-block;
	color:#ffffff;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #810e05;
}
#submitBTN:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537) );
	background:-moz-linear-gradient( center top, #c62d1f 5%, #f24537 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537');
	background-color:#c62d1f;
}#submitBTN:active {
	position:relative;
	top:1px;
}
