@charset "utf-8";
/* CSS Document */
* {
	font-family:arial;
	padding:0;
	margin:0;
}

#page {
	width:8.5in;
	height:11in;
	border:1px solid black;
}

.odd {
	float:left;
}

.even {
	float:right;
}


.tag {
	border:1px dashed black;
	margin:10px;
	width:4in;
	height:1.8in;
}

.tagInfoLeft {
	float:left;
}

.tagInfoRight {
	float:right;
}
.clear {
	clear:both;
}

.qrCodeBox {
	margin-bottom:.5in;
}

.qrCodeSingle p {
	padding-bottom:2px;
	font-size:8px;
	text-align:center;
}


.qrCodeSingle iframe {
	scrolling:no;
	border:none;
	display:inline;
	width:50px;
	height:60px;
}

.qrCodeSingle {
	text-align:center;
	display:inline-block;
}


.itemNum {
position:relative;
bottom:7px;
}